<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="alethic.node" type="Alethic.Node.AspNet.NodeSection, Alethic.Node.AspNet" />
    </configSections>

    <alethic.node engineCount="3" maxConcurrencyPerEngine="2" acquireTimeout="00:00:30" />
</configuration>
